Reddit Story-to-Video Pipeline/Workflows/Part 01 - Reddit Story Fetching and Processing.json
{
  "name": "Part 01 - Reddit Story Fetching and Processing",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        780,
        260
      ],
      "id": "762f6896-bd58-42a3-840f-105b9f8e8a88",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "# Part 01 : REDDIT STORIES FETCHING\n### this part gets the stories from already set subreddits and tags then return the stories, \nfilter them, format them then put them in google sheet => sheet name : \"reddit stories\"\n\n**here it depends on:**\n1. Tags you set\n2. Subreddits you choose\n3. The minimum number of upvotes",
        "height": 600,
        "width": 2140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "905aa024-60e4-42bb-86c6-e872cf8ce996",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "={{ $json.subreddit }}",
        "keyword": "={{ $json.tag }}",
        "returnAll": true,
        "additionalFields": {
          "sort": "top"
        }
      },
      "id": "c0ba426e-72ed-4f90-9b69-0d2a663f51f1",
      "name": "Search Posts",
      "type": "n8n-nodes-base.reddit",
      "position": [
        1000,
        260
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "nNiIYbfIZ4jrJkde",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input data (from $json.Topics)\nconst topicsString = $json.tags;\n\n// Split the string by newlines and trim whitespace\nconst topicsArray = topicsString.split('\\n').map(topic => topic.trim());\n\n// Create an array of items for each topic\nconst items = topicsArray.map(tag => {\n  return { json: { tag: tag } };\n});\n\n// Output the new array of items\nreturn items;\n"
      },
      "id": "054db486-ee15-4884-b85f-8a9737ed1564",
      "name": "split tags",
      "type": "n8n-nodes-base.code",
      "position": [
        560,
        360
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1440,
        360
      ],
      "id": "6f6be288-2e40-4081-aac3-2cbe572801e3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        260
      ],
      "id": "baf5e397-1295-462b-ad10-3d7d6f8805ce",
      "name": "Start fetching reddit posts"
    },
    {
      "parameters": {
        "jsCode": "// Input data (from $json.Topics)\nconst topicsString = $input.first().json.subreddits;\n\n// Split the string by newlines and trim whitespace\nconst topicsArray = topicsString.split('\\n').map(topic => topic.trim());\n\n// Create an array of items for each topic\nconst items = topicsArray.map(sub => {\n  return { json: { subreddit: sub } };\n});\n\n// Output the new array of items\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        160
      ],
      "id": "999349ef-4102-47c2-99d2-1ec2d639cb67",
      "name": "set subreddits"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d5ae4fa-2f54-48d7-8f61-766f4ecf9d96",
              "name": "Title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "aeba9173-390a-4580-8a0a-7f9d354e41d4",
              "name": "Post content",
              "value": "={{ $json.selftext }}",
              "type": "string"
            },
            {
              "id": "8eb33a06-d8e7-4eea-bcd3-f956e20e06e6",
              "name": "Subreddit",
              "type": "string",
              "value": "={{ $json.subreddit }}"
            },
            {
              "id": "6f92bce7-2dc5-4dfd-b216-efc12c5411bb",
              "name": "URL",
              "type": "string",
              "value": "={{ $json.url }}"
            },
            {
              "id": "0a9fb817-bfb7-4ea7-9182-1eddc404035f",
              "name": "Post ID",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "812a062d-988c-4ca3-a41d-d912a95cc4e1",
      "name": "Get needed data",
      "type": "n8n-nodes-base.set",
      "position": [
        1440,
        160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst inputItems = $input.all();\n\n// Create a Map to store the most upvoted item for each URL\nconst uniqueItemsMap = new Map();\n\nfor (const item of inputItems) {\n  const url = item.json.URL;\n  \n  // Skip items where URL contains \"redd.it\"\n  if (url && url.includes(\"redd.it\")) {\n    continue;\n  }\n  \n  const upvotes = parseInt(item.json.Upvotes, 10) || 0; // Ensure upvotes is a number\n\n  if (!uniqueItemsMap.has(url)) {\n    // Add the first occurrence of the URL\n    uniqueItemsMap.set(url, item);\n  } else {\n    // Compare upvotes and keep the item with the most upvotes\n    const existingItem = uniqueItemsMap.get(url);\n    const existingUpvotes = parseInt(existingItem.json.Upvotes, 10) || 0;\n    if (upvotes > existingUpvotes) {\n      uniqueItemsMap.set(url, item);\n    }\n  }\n}\n\n// Extract all unique items\nconst uniqueItems = Array.from(uniqueItemsMap.values());\n\n// Return each unique item as a separate output\nreturn uniqueItems;"
      },
      "id": "0a11f480-442f-40cd-aea8-bb8a4cd1d04a",
      "name": "Remove duplicates",
      "type": "n8n-nodes-base.code",
      "position": [
        1660,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Ww3NYkVzIMOmzSihZpJ_uf6kZn_i46iJHP3q6oRrnDI",
          "mode": "list",
          "cachedResultName": "reddit stories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ww3NYkVzIMOmzSihZpJ_uf6kZn_i46iJHP3q6oRrnDI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 119903028,
          "mode": "list",
          "cachedResultName": "sheet ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ww3NYkVzIMOmzSihZpJ_uf6kZn_i46iJHP3q6oRrnDI/edit#gid=119903028"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.Title }}",
            "content": "={{ $json[\"Post content\"] }}",
            "subreddit": "={{ $json.Subreddit }}",
            "url": "={{ $json.URL }}",
            "id_story": "={{ $json['Post ID'] }}",
            "used before": "no"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_story",
              "displayName": "id_story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subreddit",
              "displayName": "subreddit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "used before",
              "displayName": "used before",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1880,
        160
      ],
      "id": "3446b39c-6990-40b4-ac97-c78e1ae73fa9",
      "name": "Upload stories into google sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GQPXvZnn3SJPuQhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f767f7a8-a2e8-4566-be80-bd735249e069",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.ups }}",
              "rightValue": "={{ Number($('Set tags, subreddits and upvotes').item.json.minimum_number_of_upvotes) }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "95a4f90c-9535-4bdd-89f2-5f287a7c505f",
      "name": "Filter Posts By Upvotes",
      "type": "n8n-nodes-base.if",
      "position": [
        1220,
        260
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4da0605-b5e1-47e1-8e7e-00158ecaba33",
              "name": "tags",
              "type": "string",
              "value": "=story\nencounter\ncreepy"
            },
            {
              "id": "086df4e2-d447-427a-9e95-71f52d5167d1",
              "name": "=subreddits",
              "value": "=nosleep\ncreepypasta",
              "type": "string"
            },
            {
              "id": "3071f783-df40-4387-9de4-bec9450ea7fc",
              "name": "minimum_number_of_upvotes",
              "value": "500",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0c343ad4-a750-4c94-8ad7-23d0c1ed00b3",
      "name": "Set tags, subreddits and upvotes",
      "type": "n8n-nodes-base.set",
      "position": [
        340,
        260
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Search Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Posts": {
      "main": [
        [
          {
            "node": "Filter Posts By Upvotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split tags": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Start fetching reddit posts": {
      "main": [
        [
          {
            "node": "Set tags, subreddits and upvotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set subreddits": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get needed data": {
      "main": [
        [
          {
            "node": "Remove duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove duplicates": {
      "main": [
        [
          {
            "node": "Upload stories into google sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts By Upvotes": {
      "main": [
        [
          {
            "node": "Get needed data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set tags, subreddits and upvotes": {
      "main": [
        [
          {
            "node": "split tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "set subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5442c96c-9ec0-4327-93e7-d28637ade736",
  "meta": {
    "instanceId": "aa02f91765655e9392e3b75ce8731df7653a09e5799bd530306e1a97fbd5936c"
  },
  "id": "Gnatk5WNbBNjvUAp",
  "tags": []
}